.root:global(.__wab_instance) {
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  background: none;
  overflow: auto;
  box-shadow: none;
  justify-self: flex-start;
  position: relative;
  min-width: 0;
  border-radius: var(--token-4aPuAYbF3VsF);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.menuSection__fxz7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
