.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-16zuNC9DmE3-);
  font-family: var(--token-NjYpxvgkr9XR);
  font-size: var(--token-1S9ocvls-LDz);
  line-height: var(--token-m4nn0EScIQfq);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-v9UFcd2_ClYT) var(--token-4aPuAYbF3VsF);
}
.slotTargetHeader {
  font-weight: 600;
}
