.root {
  display: inline-flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #00c37166;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: var(--token-QMEhwYzwsf71);
  padding: var(--token-omrXvBNBcWTN);
}
.rootunnamedGroupOfVariants_red {
  background: #eb464a66;
}
.rootunnamedGroupOfVariants_yellow {
  background: #faad1466;
}
.rootunnamedGroupOfVariants_blue {
  background: #69b1ff99;
}
.rootunnamedGroupOfVariants_oreng {
  background: #ff710080;
}
.rootunnamedGroupOfVariants_unnamedVariant {
  background: none;
}
.rootunnamedGroupOfVariants_pink {
  background: #ff95bb66;
}
.rootshape_square {
  border-radius: var(--token-KVcr9NiMwFLr);
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  color: var(--token-qc3RjKzQDJ33);
  font-weight: 700;
}
.slotTargetChildrenunnamedGroupOfVariants_red {
  color: var(--token-8dHZNKgzL8aW);
}
.slotTargetChildrenunnamedGroupOfVariants_yellow {
  color: #e89b00;
}
.slotTargetChildrenunnamedGroupOfVariants_blue {
  color: var(--token-5OZEb1MGGCI4);
}
.slotTargetChildrenunnamedGroupOfVariants_oreng {
  color: #ff3c00;
}
.slotTargetChildrenunnamedGroupOfVariants_pink {
  color: #e7177f;
}
