.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-M1MB1tnabti6);
  font-family: var(--token-NjYpxvgkr9XR);
  font-size: var(--token-1S9ocvls-LDz);
  line-height: var(--token-m4nn0EScIQfq);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
