.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__bFaoY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  column-gap: var(--token-3WxvfyIdJppy);
  background: var(--token-ieogzVSSyrRx);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-KVcr9NiMwFLr);
  border-top: 2px solid var(--token-dhekOSlmbKIe);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bFaoY {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__xto7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.text__gDsx {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text___89OQr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  text-align: right;
  min-width: 0;
}
.button10:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.svg__sFj73 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kwkhs {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
