.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.lottie:global(.__wab_instance) {
  max-width: 200%;
  object-fit: cover;
  height: 200%;
  width: 100%;
  min-width: 0;
}
