.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 8px;
}
.rootclick {
  background: #8254c61a;
  border-radius: 50px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  color: #c0c0c0;
  height: 20px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svgclick {
  color: #8254c6;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #c0c0c0;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textclick {
  color: #8254c6;
}
