.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-QlibYU2ZEF3q);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__k8Wdo {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-QlibYU2ZEF3q);
}
.radio___9X1Yq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__bSj62:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__rnpMf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
