.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 0px;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.rootunnamedGroupOfVariants__0 {
  width: auto;
  justify-self: flex-start;
  padding-left: 10px;
  display: inline-flex;
}
.rootunnamedGroupOfVariants__1 {
  width: auto;
  justify-self: flex-start;
  padding-left: 10px;
  display: inline-flex;
}
.rootunnamedGroupOfVariants__2 {
  width: auto;
  justify-self: flex-start;
  padding-left: 10px;
  display: inline-flex;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  display: none;
}
.lottieunnamedGroupOfVariants__0:global(.__wab_instance) {
  display: flex;
}
.lottieunnamedGroupOfVariants__1:global(.__wab_instance) {
  display: none;
}
.lottieunnamedGroupOfVariants__2:global(.__wab_instance) {
  display: none;
}
.svg__ikD5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-PvbqFVJaOepe);
  height: 1em;
  display: none;
}
.svgunnamedGroupOfVariants__1__ikD5CG5Y9 {
  display: block;
}
.svg__gTzlc {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-PvbqFVJaOepe);
  transform: scale3d(1, 1.2, 1);
  transform-style: preserve-3d;
  height: 1em;
  display: none;
}
.svg__gTzlc * {
  transform-style: preserve-3d;
}
.svgunnamedGroupOfVariants__2__gTzlcJjhB {
  transform-style: preserve-3d;
  display: block;
}
.svgunnamedGroupOfVariants__2__gTzlcJjhB * {
  transform-style: preserve-3d;
}
