.root {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.root:focus-within {
  outline: none;
}
.root___focusVisibleWithin {
  outline: none;
}
.freeBox__nkIc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.slotTargetChildren {
  text-align: right;
}
.slotTargetChildrenerror {
  color: var(--token-mIaQ7cfg3AGq);
}
.freeBox__laz28 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 6px;
  padding: 8px 11px;
  border: 1px solid #dbdbd7;
}
.freeBoxcolor_dark__laz287EHn {
  background: #232320;
  border-color: #717069;
}
.freeBoxerror__laz28HIXin {
  border-color: var(--token-mIaQ7cfg3AGq);
}
.freeBoxsize_medium__laz28QLn2R {
  align-items: center;
  justify-content: center;
  height: 45px;
  flex-shrink: 0;
}
.freeBoxsize_longh__laz28JzAcp {
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.root:hover .freeBox__laz28 {
  border-color: #c8c7c1;
}
.root:focus-within .freeBox__laz28 {
  box-shadow: 0px 0px 0px 1px var(--token-QR8ATjORhQqO);
  outline: none;
  border-radius: 6px;
}
.root .freeBox___focusVisibleWithin__laz289XNfi {
  box-shadow: 0px 0px 0px 1px var(--token-PvbqFVJaOepe);
  outline: none;
  border-radius: 6px;
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-right: 8px;
  display: none;
}
.startIconContainershowStartIcon {
  display: flex;
}
.root .startIconContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetStartIconshowStartIcon {
  color: #90908c;
}
.slotTargetStartIconcolor_dark {
  color: #ffffff;
}
.svg__zIcxm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.input {
  width: 100%;
  left: auto;
  top: auto;
  background: #ffffff00;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.inputisDisabled {
  cursor: not-allowed;
}
.inputcolor_dark {
  color: #ffffff;
}
.root .input___focusVisibleWithin {
  outline: none;
}
.root:focus-within .input {
  outline: none;
}
.root .input:focus {
  outline: none;
}
.root .input::placeholder {
  color: #706f6c;
}
.rootcolor_dark .inputcolor_dark::placeholder {
  color: #c8c7c1;
}
.root:focus-within .input:focus {
  outline: none;
}
.root:focus-within .input::placeholder {
  outline: none;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-left: 8px;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIconshowEndIcon {
  color: #90908c;
}
.slotTargetEndIconcolor_dark {
  color: #ffffff;
}
.svg__sSZuq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 4px;
  padding-right: 8px;
  color: var(--token-mIaQ7cfg3AGq);
  font-size: 13px;
  min-width: 0;
  display: none;
}
.texterror {
  display: block;
}
