.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-riOO7VGd6zgE);
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  padding-top: 100px;
  padding-bottom: 50px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: #f8f8f8;
    padding-top: 80px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_theme_dark > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark
    > * {
    grid-column: 4;
  }
}
.rootupload2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootupload2 > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__pPu3 {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__pPu3 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pPu3 > * {
    grid-column: 4;
  }
}
.freeBox__bfLml {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 52;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfLml {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__nVs4L {
  font-weight: 600;
  color: var(--token-0jflij2Drauk);
  width: auto;
}
.svg__hfiCv {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  width: 60px;
  height: 40px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Avatar:global(.__wab_instance) {
    width: 130px;
  }
}
.freeBox__jfyOq {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  border-radius: 50px;
  padding: 0px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jfyOq {
    animation: none;
  }
}
.freeBox__ujnKi {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ujnKi {
    animation: none;
  }
}
.freeBox__sGw8J {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sGw8J {
    animation: none;
  }
}
.text__ozn3E {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  white-space: pre;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ozn3E {
    animation: none;
  }
}
.text___6ZHxw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #535353;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  min-width: 0;
}
.svg__zlFef {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zlFef {
    animation: none;
    display: block;
  }
}
.svg__bOIkw {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 100%;
  align-self: flex-start;
  color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bOIkw {
    animation: none;
    display: none;
  }
}
.buttonLiom4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom4:global(.__wab_instance) {
    animation: none;
  }
}
.svg__xDzMi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qT21D {
  animation: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  display: none;
}
.svg__dGerp {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-0jflij2Drauk);
  margin: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dGerp {
    animation: none;
  }
}
.svg__sEn8W {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox___7Dgo0 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  right: 0;
  background: #8d8d8da3;
  min-height: 0;
  padding: 8px;
}
.svg__rxs6A {
  object-fit: cover;
  max-width: 100%;
  color: #7444bc;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.freeBox___2E6Fv {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__g1Afk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__mwiDh {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-j-ZwOKbpUCqd);
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}
.text___3Km2E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-HxnmpURJ0E1r);
  font-weight: 700;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ho4Ae {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nZhYb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___4Myrl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__e7GwT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e7GwT {
    font-size: 18px;
  }
}
.text__aJIy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aJIy {
    font-size: 16px;
  }
}
.freeBox__ogAzh {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: var(--token-3WxvfyIdJppy);
  margin-top: 16px;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__xheDd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__hnh9D {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 8px;
}
.freeBox___3Z9Me {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.img__j5ZbQ {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  border-width: 1px;
}
.img__j5ZbQ > picture > img {
  object-fit: cover;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  width: auto;
}
.text__aFsLc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
}
.svg__cKcvO {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
}
.freeBox__tO1Uj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: var(--token-6eH8UjLOmr7v);
  border: 3px dashed var(--token-dhekOSlmbKIe);
}
.freeBoxupload2__tO1UjHbbuj {
  justify-content: flex-end;
  align-items: center;
  border-width: 3px;
}
.freeBox__gdXn9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.freeBoxupload2__gdXn9Hbbuj {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-3WxvfyIdJppy);
  align-self: center;
  row-gap: 0px;
}
.svg__vS9R2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.svgupload2__vS9R2Hbbuj {
  display: none;
}
.text___6HMcV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
  display: none;
}
.textupload2___6HMcVHbbuj {
  align-self: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textupload2___6HMcVHbbuj {
    display: none;
  }
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 20%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2:global(.__wab_instance) {
    width: 40%;
  }
}
.buttonLiom2upload2:global(.__wab_instance) {
  width: 30%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2upload2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__bBfSu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgupload2__bBfSuHbbuj {
  width: 25px;
  color: var(--token-QR8ATjORhQqO);
  height: 25px;
}
.svg__y4KLm {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__yM9VQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-iyO_Axks-jmd);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.imageOpload:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__ibOt0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  max-width: 100%;
  row-gap: var(--token-3WxvfyIdJppy);
  flex-shrink: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: var(--token-6eH8UjLOmr7v);
  border: 2px dashed var(--token-dhekOSlmbKIe);
}
.svg__bN013 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-TpmbTrq5hCAj);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__j8SI2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  font-weight: 500;
  color: var(--token-TpmbTrq5hCAj);
  min-width: 0;
}
.freeBox__uUqEn {
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  min-height: 0;
  padding: 8px;
}
.section__jfgSg {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jfgSg > * {
  grid-column: 4;
}
.freeBox__s12V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___4KqG {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bifk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__p7Gtx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
}
.text__pjNmU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__blvq6 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__tvsQn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__v8CFw {
  white-space: pre;
}
.svg___28JQ2 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__f75Ua {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  background: var(--token-iaaPj9k02a0E);
  row-gap: 16px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-PvbqFVJaOepe);
}
.freeBox__nMiyX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___8Sma7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.svg__mUSl {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-PvbqFVJaOepe);
  flex-shrink: 0;
}
.text___2TKgx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  min-width: 0;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
}
.modal2__modal :global(.ant-modal-content) {
  background: #ffffff00;
  box-shadow: 0px 4px 16px 0px transparent;
  outline: none;
}
.pcls_90Fno9_Y-cSO {
  background: #030712cc;
  outline: none;
}
.img__l8I9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__l8I9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__l8I9 {
    width: 350px;
  }
}
.freeBox__acScg {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 20px;
  left: auto;
  right: 20px;
  z-index: 1;
  background: var(--token-84PkxcVKH9-F);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0px;
}
.svg__i8Ld3 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-ieogzVSSyrRx);
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 8px;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.directDialogChatbot:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
