.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-RweFaeFLMIES);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-v9UFcd2_ClYT);
  font-family: var(--token-NjYpxvgkr9XR);
  font-size: var(--token-1S9ocvls-LDz);
  line-height: var(--token-m4nn0EScIQfq);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-YgundgIw-wwU);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-s5B1n5jFAIZn);
  outline-offset: 1px;
  outline-color: var(--token-RweFaeFLMIES);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-vdlageZuxQGi);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-NkR_O_GW0jPH);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-w3PrJKP-ChhI);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Il7ZoMFcv6kp);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jIJbQUPw_oHQ);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-qkxlliCzK7Dj);
  font-size: var(--token-Z2KSlolINemb);
  column-gap: var(--token-s5B1n5jFAIZn);
  row-gap: 0px;
  border-radius: var(--token-QlibYU2ZEF3q);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Z2KSlolINemb);
  line-height: var(--token-qkxlliCzK7Dj);
  column-gap: var(--token-QlibYU2ZEF3q);
  row-gap: 0px;
  border-radius: var(--token-QlibYU2ZEF3q);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-yPdZh3caz4YD);
  line-height: var(--token-jTnKN3OuYcLr);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-yPdZh3caz4YD);
  line-height: var(--token-jTnKN3OuYcLr);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-dg296SDgGzTR);
  border-radius: var(--token-YgundgIw-wwU);
}
.softBackgroundcolor_neutral {
  background: var(--token-3cTIho4ddH8d);
}
.softBackgroundcolor_muted {
  background: var(--token-naOKKZC5rCrA);
}
.softBackgroundcolor_success {
  background: var(--token-rkj7HqBnFPEa);
}
.softBackgroundcolor_warning {
  background: var(--token-6kCmnxbZ3lT1);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-RRw3yRIZFbOC);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-YgundgIw-wwU);
  border: 0px solid var(--token-mLX_1szqgMMa);
}
.bordercolor_neutral {
  border-color: var(--token-H-RoLfiTtSmm);
}
.bordercolor_muted {
  border-color: var(--token-_a8xNcbsYOO0);
}
.bordercolor_success {
  border-color: var(--token-_mgE1mebGBEx);
}
.bordercolor_warning {
  border-color: var(--token-YTYtIfn9Segs);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Jm5GXqQcpmYw);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-YgundgIw-wwU);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Kt8Srs4uCf0h);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-MkOX0Stou6GF);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-AekDIPv7FLCv);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___8UvAr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-YgundgIw-wwU);
  min-width: 0;
  min-height: 0;
  padding: var(--token-YgundgIw-wwU) var(--token-4aPuAYbF3VsF);
}
.freeBoxsize_extraSmall___8UvArOlKot {
  padding: var(--token-QlibYU2ZEF3q) var(--token-YgundgIw-wwU);
}
.freeBoxsize_small___8UvAr5CeTb {
  padding: var(--token-YgundgIw-wwU) var(--token-v9UFcd2_ClYT);
}
.freeBoxsize_large___8UvArp8GRc {
  padding-top: var(--token-QlibYU2ZEF3q);
  padding-bottom: var(--token-QlibYU2ZEF3q);
}
.freeBoxsize_extraLarge___8UvArgZ1QE {
  padding-left: var(--token-tBWdALhc4Vvq);
  padding-right: var(--token-tBWdALhc4Vvq);
}
.freeBoxroundedFull___8UvArl925F {
  padding-right: var(--token-tBWdALhc4Vvq);
  padding-left: var(--token-tBWdALhc4Vvq);
}
.freeBox__bCn3E {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__bCn3EwRc5C {
  display: flex;
}
.slotTargetStart {
  color: var(--token-p3Neiwx8JMhX);
}
.slotTargetStartcolor_neutral {
  color: var(--token-GOTcOFj2gQm1);
}
.slotTargetStartcolor_muted {
  color: var(--token-NRA9HHh2aGjA);
}
.slotTargetStartcolor_success {
  color: var(--token-ASowfNCA3nwg);
}
.slotTargetStartcolor_warning {
  color: var(--token-Kr6SNWKrk7ja);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-k9CRA3bJasjg);
}
.slotTargetStarttype_soft {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetStarttype_bordered {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Z2KSlolINemb);
}
.slotTargetStartsize_small {
  font-size: var(--token-Z2KSlolINemb);
}
.slotTargetStartsize_large {
  font-size: var(--token-yPdZh3caz4YD);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-yPdZh3caz4YD);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.svg__iOzSs {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-p3Neiwx8JMhX);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-GOTcOFj2gQm1);
}
.slotTargetLabelcolor_muted {
  color: var(--token-NRA9HHh2aGjA);
}
.slotTargetLabelcolor_success {
  color: var(--token-ASowfNCA3nwg);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Kr6SNWKrk7ja);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-k9CRA3bJasjg);
}
.slotTargetLabeltype_soft {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.text__lchYi {
  white-space: pre;
}
.freeBox__zs3Qm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__zs3QmlNHlG {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-p3Neiwx8JMhX);
}
.slotTargetEndcolor_neutral {
  color: var(--token-GOTcOFj2gQm1);
}
.slotTargetEndcolor_muted {
  color: var(--token-NRA9HHh2aGjA);
}
.slotTargetEndcolor_success {
  color: var(--token-ASowfNCA3nwg);
}
.slotTargetEndcolor_warning {
  color: var(--token-Kr6SNWKrk7ja);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-k9CRA3bJasjg);
}
.slotTargetEndtype_soft {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetEndtype_bordered {
  color: var(--token-Ng2RwoiAqAJd);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Z2KSlolINemb);
}
.slotTargetEndsize_small {
  font-size: var(--token-Z2KSlolINemb);
}
.slotTargetEndsize_large {
  font-size: var(--token-yPdZh3caz4YD);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-yPdZh3caz4YD);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-qKc7-LZWAlQx);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-ZNUpvc5pgEIF);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-xe7TKddK_CD2);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-qSboH-XRI5uz);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-1qBJi_8WHBBc);
}
.svg__iYe {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
