.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tgkjf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tgkjf {
    padding: 0px;
  }
}
.freeBox__aqPN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.freeBoxdark__aqPNbt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.text__wShjv {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  flex-shrink: 0;
  align-self: auto;
  min-height: 0;
}
.textdark__wShjvBt3Z3 {
  color: var(--token-NXlEQg0VOw-c);
}
.freeBox__gj90W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__icCh5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.tabWeek:global(.__wab_instance) {
  position: relative;
  margin-left: 8px;
  width: auto;
}
.text__oEqhH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  background: var(--token-97NydEULR06G);
  font-size: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 2px 6px;
  border: 1px solid var(--token-etx-O48lSsZ1);
}
.textdark__oEqhHbt3Z3 {
  color: var(--token-NXlEQg0VOw-c);
  background: var(--token-aAR23Q6LT5jS);
  border-color: var(--token-eAGGWpRlc3eE);
}
.freeBox__bTjl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px 0px 8px;
}
.freeBox__rx6Wj {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  box-shadow: 0px 2px 10px 0px #1212121a;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
}
.freeBoxdark__rx6WjBt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.freeBox__elwQ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__f5B3P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 170px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__ju7Z0 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 100%;
  margin: 0px 20px;
  border: 8px solid #8254c64d;
}
.img__ju7Z0 > picture > img {
  object-fit: cover;
}
.freeBox__lnH05 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox___29I4M {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 4px;
  min-width: 0;
  padding: 4px;
  border-left: 1px solid #f2f2f2;
}
.text___7XZfN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-NXlEQg0VOw-c);
  min-width: 0;
}
.text__rX9Uv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-84PkxcVKH9-F);
  text-align: center;
  min-width: 0;
}
.textdark__rX9Uvbt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__jr8OY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  row-gap: 4px;
  min-width: 0;
  padding: 4px;
  border-left: 1px solid #f2f2f2;
}
.text__a4C8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-NXlEQg0VOw-c);
  min-width: 0;
}
.text___2REEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-84PkxcVKH9-F);
  text-align: center;
  min-width: 0;
}
.textdark___2REEcBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___1MaWg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  row-gap: 4px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__sbPqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-NXlEQg0VOw-c);
  min-width: 0;
}
.text___6Y3Qk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-84PkxcVKH9-F);
  text-align: center;
  min-width: 0;
}
.textdark___6Y3QkBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__pdK3U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__s9J5W {
  text-align: right;
  margin-top: 12px;
  font-size: 15px;
}
.text___5P7P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.text__oN5SH {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__krA4K {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: var(--token-PvbqFVJaOepe);
  margin-top: 12px;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__oHrQi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.freeBox___6Gx3V {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-PvbqFVJaOepe);
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  margin: 0px;
}
.text__l3Xij {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.freeBox__lrlpr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 16px;
}
.freeBox__iiSSx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBoxdark__iiSSxBt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.img__ghjhY {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
}
.img__ghjhY > picture > img {
  object-fit: cover;
}
.text__r9AF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__r9AFBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__sxWn6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBoxdark__sxWn6Bt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.img__qd8P {
  object-fit: cover;
  width: 45px;
}
.img__qd8P > picture > img {
  object-fit: cover;
}
.text__zU9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__zU9Mbt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__ue6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBoxdark__ue6Bt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.img__nnUfr {
  object-fit: cover;
  max-width: 100%;
}
.img__nnUfr > picture > img {
  object-fit: cover;
}
.text__z2TSt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__z2TStbt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__kjeh0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px 16px 8px;
}
.freeBox__ukhXt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark__ukhXtBt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.collapse2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text___3ItRx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
}
.textdark___3ItRxbt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.text__w9A2B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark__w9A2BBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.img__nUlhP {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  margin: -20px 0px 0px;
}
.img__nUlhP > picture > img {
  object-fit: cover;
}
.img___9Evva {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img___9Evva > picture > img {
  object-fit: cover;
}
.freeBox___70Iw1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark___70Iw1Bt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__o41Ts {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
  margin: 0px;
}
.textdark__o41TsBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.text__x9VDg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark__x9VDgBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.img__fe3BW {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  margin: -20px 0px 0px;
}
.img__fe3BW > picture > img {
  object-fit: cover;
}
.img__mj4Jo {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__mj4Jo > picture > img {
  object-fit: cover;
}
.freeBox__gid3Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 17px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark__gid3YBt3Z3 {
  background: var(--token-aAR23Q6LT5jS);
}
.collapse3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__gOfZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
  margin: 0px;
}
.textdark__gOfZbt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.text___2EEug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark___2EEugBt3Z3 {
  color: var(--token-jgohepLVeKvh);
}
.img___9PqWu {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  margin: -20px 0px 0px;
}
.img___9PqWu > picture > img {
  object-fit: cover;
}
.img__mtTnX {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__mtTnX > picture > img {
  object-fit: cover;
}
.freeBox__nTaP6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1fa14f;
  margin-top: 12px;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__aRprV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.text__wp5H4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  min-width: 0;
}
.freeBox__vTa2S {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
}
