.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-riOO7VGd6zgE);
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  padding-top: 100px;
  padding-bottom: 40px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 80px var(--token-6eH8UjLOmr7v) 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_theme_dark > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark
    > * {
    grid-column: 4;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.modal__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal:global(.__wab_instance) {
    top: 0;
    right: 0;
    left: 0;
    margin: 0px;
  }
}
.backgrond:global(.__wab_instance) {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.freeBox__xSFO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tAoo6 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: var(--token-QMEhwYzwsf71);
}
.freeBox__tAoo6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__tAoo6 > :global(.__wab_flex-container) > *,
.freeBox__tAoo6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tAoo6 > :global(.__wab_flex-container) > picture > img,
.freeBox__tAoo6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.loadingConclusion:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text___4OXwR {
  width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
.freeBox__tOJjM {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: var(--token-QMEhwYzwsf71);
  right: 0;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__w8PzZ {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  padding: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy)
    var(--token-3WxvfyIdJppy) var(--token-omrXvBNBcWTN);
}
.text__zuZtW {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  padding-bottom: var(--token-3WxvfyIdJppy);
  padding-top: var(--token-3WxvfyIdJppy);
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 52;
  position: fixed;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.paziresh24Avatar__etGjv:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__f1R9S {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__f1R9S > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__f1R9S > :global(.__wab_flex-container) > *,
.freeBox__f1R9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1R9S > :global(.__wab_flex-container) > picture > img,
.freeBox__f1R9S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f1R9S {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__wQiNp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Gq2ZclrSKBOi);
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.text__mGj9Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-RvPI6LyeIPmd);
  min-width: 0;
}
.freeBox__hB9Nw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 20px 0px 0px;
}
.freeBox__hB9Nw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__hB9Nw > :global(.__wab_flex-container) > *,
.freeBox__hB9Nw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hB9Nw > :global(.__wab_flex-container) > picture > img,
.freeBox__hB9Nw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
.ul {
  display: flex;
  width: 100%;
  color: var(--token-eAGGWpRlc3eE);
  text-decoration-line: none;
  min-width: 0;
  flex-direction: column;
  padding: 0px;
}
.ul > :global(.__wab_flex-container) {
  min-width: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - var(--token-omrXvBNBcWTN));
  height: calc(100% + var(--token-omrXvBNBcWTN));
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-omrXvBNBcWTN);
}
.li {
  display: list-item;
}
.freeBox__xvODr {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.text__nKnkj {
  font-size: var(--token-podr231_9RBN);
  width: 100%;
  text-align: right;
}
.text__xW3G {
  font-size: var(--token-podr231_9RBN);
  width: auto;
  text-align: right;
  color: var(--token-VzWdrvFHnhlm);
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xW3G {
    text-decoration-line: underline;
  }
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tktV {
  flex-direction: column;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-riOO7VGd6zgE);
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: none;
  padding: var(--token-6eH8UjLOmr7v);
}
.paziresh24Button___2SVaX:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pGoTa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eRGxr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__zg6We {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xZnC3 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__mzAy8 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  position: relative;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__mzAy8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-6eH8UjLOmr7v));
  height: calc(100% + var(--token-6eH8UjLOmr7v));
}
.freeBox__mzAy8 > :global(.__wab_flex-container) > *,
.freeBox__mzAy8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mzAy8 > :global(.__wab_flex-container) > picture > img,
.freeBox__mzAy8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mzAy8 {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    margin: 0px;
  }
}
.text__fo0X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.text__se2Ul {
  color: var(--token-SH2GlK2U7a6u);
}
.text__fCpeU {
  color: var(--token-lBXxoq0q4VUt);
  text-align: right;
  width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__ke2Tb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  grid-column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.freeBox___3GvY6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox___3GvY6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-omrXvBNBcWTN));
  height: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox___3GvY6 > :global(.__wab_flex-container) > *,
.freeBox___3GvY6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3GvY6 > :global(.__wab_flex-container) > picture > img,
.freeBox___3GvY6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-omrXvBNBcWTN);
}
.freeBox__rZgJu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + var(--token-omrXvBNBcWTN)) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  padding: 0px 0px var(--token-KVcr9NiMwFLr);
}
.freeBox__rZgJu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__rZgJu > :global(.__wab_flex-container) > *,
.freeBox__rZgJu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rZgJu > :global(.__wab_flex-container) > picture > img,
.freeBox__rZgJu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rZgJu {
    margin-top: calc(0px + var(--token-omrXvBNBcWTN)) !important;
  }
}
.freeBox__b45Lz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__b45Lz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-3WxvfyIdJppy));
  width: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox__b45Lz > :global(.__wab_flex-container) > *,
.freeBox__b45Lz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b45Lz > :global(.__wab_flex-container) > picture > img,
.freeBox__b45Lz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3WxvfyIdJppy);
}
.percentageBox__tFcgs:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text__vtkPr {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
  display: none;
}
.svg___0AgVt {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin: 0.1rem;
}
.text__xXc2 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  align-self: center;
}
.freeBox__zrbb2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zrbb2 {
    width: auto;
  }
}
.paziresh24Button___5J5Mo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uxBTj {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__fweIi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__uaIcE {
  font-weight: 700;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uaIcE {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.svg__dmnYl {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__hvSte {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__hvSte > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-6eH8UjLOmr7v));
  height: calc(100% + var(--token-6eH8UjLOmr7v));
}
.freeBox__hvSte > :global(.__wab_flex-container) > *,
.freeBox__hvSte > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hvSte > :global(.__wab_flex-container) > picture > img,
.freeBox__hvSte
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-6eH8UjLOmr7v);
}
.text__tz4Er {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox__iiNee {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  grid-column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.freeBox__sy1Ij {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      var(--token-jgohepLVeKvh),
      var(--token-jgohepLVeKvh)
    ),
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 0px;
  border-width: 1px;
}
.freeBox__sy1Ij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-omrXvBNBcWTN));
  height: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__sy1Ij > :global(.__wab_flex-container) > *,
.freeBox__sy1Ij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sy1Ij > :global(.__wab_flex-container) > picture > img,
.freeBox__sy1Ij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-omrXvBNBcWTN);
}
.freeBox__lwrUx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + var(--token-omrXvBNBcWTN)) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px;
}
.freeBox__lwrUx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__lwrUx > :global(.__wab_flex-container) > *,
.freeBox__lwrUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lwrUx > :global(.__wab_flex-container) > picture > img,
.freeBox__lwrUx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lwrUx {
    margin-top: calc(0px + var(--token-omrXvBNBcWTN)) !important;
  }
}
.freeBox__jSzzL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jSzzL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-3WxvfyIdJppy));
  width: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox__jSzzL > :global(.__wab_flex-container) > *,
.freeBox__jSzzL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jSzzL > :global(.__wab_flex-container) > picture > img,
.freeBox__jSzzL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3WxvfyIdJppy);
}
.text___99TDe {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  align-self: center;
}
.percentageBox__wTlKj:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text__j0SxV {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
}
.freeBox__hsCoE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hsCoE {
    width: auto;
  }
}
.testTakmily2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3Dlz2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tePf7 {
  padding: var(--token-omrXvBNBcWTN);
}
.svg__bD1Wr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.buttonLiom3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__oFhZz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__saIN {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.collapse3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__xRm4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 400;
  color: var(--token-zux6fVI6aE30);
  min-width: 0;
}
.text__nxiCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-zux6fVI6aE30);
  text-align: right;
  min-width: 0;
}
.img__pqmT2 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__pqmT2 > picture > img {
  object-fit: cover;
}
.img__hd3Nm {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__hd3Nm > picture > img {
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rQkBj {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__rQkBj > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__rQkBj > :global(.__wab_flex-container) > *,
.freeBox__rQkBj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQkBj > :global(.__wab_flex-container) > picture > img,
.freeBox__rQkBj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rQkBj {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text___0YW7K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Gq2ZclrSKBOi);
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.freeBox__vEyWx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__u2Gx8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-zux6fVI6aE30);
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u2Gx8 {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox__h7NwZ {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__h7NwZ > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-omrXvBNBcWTN));
  height: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__h7NwZ > :global(.__wab_flex-container) > *,
.freeBox__h7NwZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h7NwZ > :global(.__wab_flex-container) > picture > img,
.freeBox__h7NwZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-omrXvBNBcWTN);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7NwZ {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7NwZ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-omrXvBNBcWTN));
    height: calc(100% + var(--token-omrXvBNBcWTN));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7NwZ > :global(.__wab_flex-container) > *,
  .freeBox__h7NwZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h7NwZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__h7NwZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-omrXvBNBcWTN);
  }
}
.text__zspZ6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox___64XU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___64XU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-3WxvfyIdJppy));
  width: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox___64XU > :global(.__wab_flex-container) > *,
.freeBox___64XU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___64XU > :global(.__wab_flex-container) > picture > img,
.freeBox___64XU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3WxvfyIdJppy);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___64XU > :global(.__wab_flex-container) {
    justify-content: space-evenly;
  }
}
.star2__l7Fwx:global(.__wab_instance) {
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .star2__l7Fwx:global(.__wab_instance) {
    height: 30px;
  }
}
.freeBox___1ESl1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0rem;
}
.freeBox___1ESl1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 130px);
  width: calc(100% + 130px);
}
.freeBox___1ESl1 > :global(.__wab_flex-container) > *,
.freeBox___1ESl1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ESl1 > :global(.__wab_flex-container) > picture > img,
.freeBox___1ESl1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1ESl1 {
    padding-right: var(--token-3WxvfyIdJppy);
    padding-left: var(--token-3WxvfyIdJppy);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1ESl1 > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: flex-end;
  }
}
.text__pcT2R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-2aHIw8xI62Xi);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pcT2R {
    font-size: 12px;
  }
}
.text__xA457 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-Le07ngBUPl2h);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xA457 {
    font-size: 12px;
  }
}
.freeBox__xlHjm {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 2px;
  border-width: 0.1rem;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24Button__kDEph:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-6eH8UjLOmr7v) !important;
  margin-right: var(--token-KVcr9NiMwFLr);
  margin-bottom: 0px;
  margin-left: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button__kDEph:global(.__wab_instance) {
    margin-left: var(--token-KVcr9NiMwFLr) !important;
    margin-top: var(--token-6eH8UjLOmr7v) !important;
  }
}
.svg___1LpBj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__guVn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.paziresh24Button__fadE:global(.__wab_instance) {
  width: 100%;
}
.text__vnBoo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__cZwBo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mDhoq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uh7JZ {
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__yXv86 {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.freeBox__yXv86 > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-omrXvBNBcWTN));
  height: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__yXv86 > :global(.__wab_flex-container) > *,
.freeBox__yXv86 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yXv86 > :global(.__wab_flex-container) > picture > img,
.freeBox__yXv86
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-omrXvBNBcWTN);
}
.freeBox__kvMlB {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kvMlB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-3WxvfyIdJppy));
  width: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox__kvMlB > :global(.__wab_flex-container) > *,
.freeBox__kvMlB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kvMlB > :global(.__wab_flex-container) > picture > img,
.freeBox__kvMlB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3WxvfyIdJppy);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kvMlB > :global(.__wab_flex-container) {
    justify-content: space-evenly;
  }
}
.star2__tCwO:global(.__wab_instance) {
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .star2__tCwO:global(.__wab_instance) {
    height: 30px;
  }
}
.freeBox__jorx2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0rem;
}
.freeBox__jorx2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 130px);
  width: calc(100% + 130px);
}
.freeBox__jorx2 > :global(.__wab_flex-container) > *,
.freeBox__jorx2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jorx2 > :global(.__wab_flex-container) > picture > img,
.freeBox__jorx2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jorx2 {
    padding-right: var(--token-KDnC5QlJdkgq);
    padding-left: var(--token-KDnC5QlJdkgq);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jorx2 > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jorx2 > :global(.__wab_flex-container) > *,
  .freeBox__jorx2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jorx2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jorx2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__gfAj7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-2aHIw8xI62Xi);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gfAj7 {
    font-size: 12px;
  }
}
.text__l5PDh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-Le07ngBUPl2h);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__l5PDh {
    font-size: 12px;
  }
}
.freeBox__ykvKq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 2px;
  border-width: 0.1rem;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24Button___9KjEx:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-6eH8UjLOmr7v) !important;
  margin-right: var(--token-KVcr9NiMwFLr);
  margin-bottom: 0px;
  margin-left: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button___9KjEx:global(.__wab_instance) {
    margin-top: var(--token-6eH8UjLOmr7v) !important;
  }
}
.svg__niEa7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cGlEb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xqVc8 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  right: 0;
  background: #00000033;
  min-height: 0;
  padding: 8px;
}
.svg__vXrcx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-s_XuzePAGmOh);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 100;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___4MJGg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.svg__boGu {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__m21QZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-3WxvfyIdJppy);
  padding-bottom: var(--token-3WxvfyIdJppy);
  margin-top: var(--token-3WxvfyIdJppy);
  min-width: 0;
  border-top: 1px solid var(--token-4iQ-8GWBqX6X);
}
.alert__ojW2B:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cIuuh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cIuuh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-3WxvfyIdJppy));
  height: calc(100% + var(--token-3WxvfyIdJppy));
}
.freeBox__cIuuh > :global(.__wab_flex-container) > *,
.freeBox__cIuuh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cIuuh > :global(.__wab_flex-container) > picture > img,
.freeBox__cIuuh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3WxvfyIdJppy);
}
.freeBox__z6AUi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox___55QU {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__xvU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.paziresh24Avatar__ppn9L:global(.__wab_instance) {
  max-width: 100%;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
}
.freeBox__ncdy0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Mbe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
}
.freeBox___8Mbe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-KVcr9NiMwFLr));
  height: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox___8Mbe > :global(.__wab_flex-container) > *,
.freeBox___8Mbe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Mbe > :global(.__wab_flex-container) > picture > img,
.freeBox___8Mbe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KVcr9NiMwFLr);
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  text-align: right;
  min-width: 0;
}
.paziresh24LineClamp:global(.__wab_instance) {
  max-width: 100%;
}
.cardSubtitle {
  height: auto;
  font-size: var(--token-podr231_9RBN);
  font-weight: 400;
  white-space: pre-wrap;
  min-width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__vhDZa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0.5rem + var(--token-KVcr9NiMwFLr)) !important;
  min-width: 0;
}
.freeBox__vhDZa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-omrXvBNBcWTN));
  width: calc(100% + var(--token-omrXvBNBcWTN));
}
.freeBox__vhDZa > :global(.__wab_flex-container) > *,
.freeBox__vhDZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vhDZa > :global(.__wab_flex-container) > picture > img,
.freeBox__vhDZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-omrXvBNBcWTN);
}
.svg___4UogS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-txtIJoASUNtv);
  margin-bottom: 5px;
  filter: none;
  box-shadow: none;
  flex-shrink: 0;
}
.span__w7U14 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PvbqFVJaOepe);
  font-weight: 500;
  font-size: var(--token-podr231_9RBN);
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.span__lTyi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-podr231_9RBN);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.alert__bdt9J:global(.__wab_instance) {
  max-width: 85%;
}
.paziresh24Button__hZeLs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__v05S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s56Rl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button___3Plz2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xDfIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n6DEw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iL8Gu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__iL8Gu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-KDnC5QlJdkgq));
  height: calc(100% + var(--token-KDnC5QlJdkgq));
}
.freeBox__iL8Gu > :global(.__wab_flex-container) > *,
.freeBox__iL8Gu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iL8Gu > :global(.__wab_flex-container) > picture > img,
.freeBox__iL8Gu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-KDnC5QlJdkgq);
}
.freeBox__k4ZuN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__e4MpW {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-j-ZwOKbpUCqd);
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}
.text__c0Uj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-HxnmpURJ0E1r);
  font-weight: 700;
  min-width: 0;
}
.paziresh24Button__q7Gs:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nziFq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q7RiQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 10;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__cgHuj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr) var(--token-KVcr9NiMwFLr)
    var(--token-6eH8UjLOmr7v);
}
.freeBox__cgHuj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-KVcr9NiMwFLr));
  width: calc(100% + var(--token-KVcr9NiMwFLr));
}
.freeBox__cgHuj > :global(.__wab_flex-container) > *,
.freeBox__cgHuj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cgHuj > :global(.__wab_flex-container) > picture > img,
.freeBox__cgHuj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgHuj {
    width: 100%;
    padding-bottom: var(--token-3WxvfyIdJppy);
    padding-right: var(--token-3WxvfyIdJppy);
    padding-left: var(--token-3WxvfyIdJppy);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgHuj > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.paziresh24Button__bQwg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button__bQwg:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__oiRsc {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__sizyW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fcfJr {
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fcfJr {
    font-size: var(--token-KUiXUfHPkqkm);
  }
}
.text__xiqgZ {
  font-weight: 700;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-LN1YkB123lXQ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xiqgZ {
    font-size: 0.6rem;
  }
}
.svg__ycWz4 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.paziresh24Button__wlNh:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button__wlNh:global(.__wab_instance) {
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
.svg__auBOx {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  max-width: 25px;
  color: var(--token-jgohepLVeKvh);
}
.svg__aC61O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
