.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
}
.img__btKmV {
  object-fit: fill;
  max-width: 100%;
  width: 25px;
}
.img__btKmV > picture > img {
  object-fit: fill;
}
.img__jLas {
  object-fit: fill;
  max-width: 100%;
  width: 25px;
}
.img__jLas > picture > img {
  object-fit: fill;
}
