.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__eSfSs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.empty1 {
  background: url("/plasmic/liom_tools/images/empty1.png") center center / cover no-repeat;
  width: 302px;
  height: 240px;
  display: block;
  flex-shrink: 0;
}
.text__h1Ul {
  display: block;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.text___9Pe4 {
  display: block;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(193, 193, 193, 1);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.frame21 {
  background: linear-gradient(
      247.64deg,
      rgba(160, 180, 237, 1) 0%,
      rgba(49, 91, 216, 1) 100%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  border-radius: 12px;
  padding: 12px 20px;
}
.vuesaxLinearAdd3 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearAdd4 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__fmxO {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text___32UEx {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.figmaPaste {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.figmaPastequestions {
  display: none;
}
.text__qoMJh {
  display: block;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  text-align: right;
}
.svg___8Gyoz {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 2px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
  border-style: solid;
  border-color: #f4f4f4;
}
.svg___8Gyoz * {
  transform-style: preserve-3d;
}
.svgquestions___8GyozSfYlg {
  transform-style: preserve-3d;
}
.svgquestions___8GyozSfYlg * {
  transform-style: preserve-3d;
}
.freeBox__uzK {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  grid-column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.frame22 {
  background: rgba(247, 247, 247, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 56px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  left: auto;
  top: auto;
  box-shadow: none;
  border-radius: 12px;
  padding: var(--token-RPGjJxLh3tUl);
}
.frame23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: center;
}
.text__wAdda {
  display: block;
  font-size: var(--token-yPdZh3caz4YD);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: #535353;
  position: relative;
  text-align: right;
}
.text__axX {
  display: block;
  font-size: var(--token-podr231_9RBN);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  position: relative;
  width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__nigHp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text___3ZgB1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-weight: 500;
  color: var(--token--fsPf0hcXOpA);
  min-width: 0;
}
.svg__aMpue {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.figmaPaste2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  row-gap: var(--token-6eH8UjLOmr7v);
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  padding: var(--token-6eH8UjLOmr7v) var(--token-6eH8UjLOmr7v) 0px;
}
.freeBox___19HBh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__yugSu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.freeBox__poe2P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.svg___1ApDh {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__wMuFs {
  display: block;
  font-size: var(--token-yPdZh3caz4YD);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: #535353;
  width: auto;
  text-align: right;
  align-self: center;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fjSao {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aaWpN {
  color: var(--token-ieogzVSSyrRx);
  font-weight: 700;
}
.svg__crwPb {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
  color: var(--token-ieogzVSSyrRx);
}
.svg__cBcSg {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 2px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
  border-style: solid;
  border-color: #f4f4f4;
}
.svg__cBcSg * {
  transform-style: preserve-3d;
}
.freeBox__wYx39 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.frame47 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.frame41 {
  background: rgba(247, 247, 247, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 1px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 0;
  border-radius: 12px;
}
.frame29 {
  width: 42px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__y35G0 {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame34 {
  width: 83px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 0px;
  flex-shrink: 0;
}
.text__zPo8Y {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.freeBox__ijWwr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.frame39 {
  width: 87px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__gYqWt {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.frame40 {
  width: 77px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.text__zE2Wf {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.questionsList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l56G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: var(--token-HFMP6WpkLWBj);
}
.freeBox__qxTrU {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-6eH8UjLOmr7v);
  padding: 8px;
}
.frame46 {
  width: 100%;
  height: 60vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  min-width: 0;
}
.frame42 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: var(--token-pLYXdv33FsbM);
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
  border-bottom: 1px solid var(--token-HFSv-V_E5BCA);
}
.frame36 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.text___9Ys0J {
  display: block;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__oijqh {
  display: block;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  text-align: right;
}
.frame51 {
  width: 73px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 0;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.frame54 {
  width: 77px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.vuesaxBulkEdit {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxBulkEdit2 {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__rqlm4 {
  object-fit: cover;
  max-width: 100%;
  color: #ffc85c;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.vuesaxBulkTrash {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxBulkTrash2 {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__tPhj {
  object-fit: cover;
  max-width: 100%;
  color: #ea5b52;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.freeBox__fWgxY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__dqoMu {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: 8px;
}
.pagination___34Zgf:global(.__wab_instance) {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.svg__vSqvC {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 100%;
  min-height: 0;
}
.pagination__y77Mr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.pagination__tNgpx:global(.__wab_instance) {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.svg__qmFyT {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 100%;
  min-height: 0;
}
.select:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__yI7CX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0px;
}
.editAndAdd:global(.__wab_instance) {
  position: relative;
}
