.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  border-top-right-radius: var(--token-3WxvfyIdJppy);
  border-top-left-radius: var(--token-3WxvfyIdJppy);
  box-shadow: 0px -4px 32px 0px #6b6a6a33;
  min-width: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBox__rHKq5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  font-weight: 700;
  text-align: right;
}
.freeBox__yDt3R {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.optionItemLiom:global(.__wab_instance) {
  max-width: 100%;
}
.text__p0O {
  text-align: right;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__oklJv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__vzHch {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 8px;
  border-width: 1px;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  color: var(--token-16zuNC9DmE3-);
  font-size: var(--token-Gq2ZclrSKBOi);
  font-weight: 700;
}
.freeBox__yLm2N {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__eiRtl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 8px;
  border-width: 1px;
}
.selection:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.freeBox__gOfKr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 8px;
  border-width: 1px;
}
.sendIcon:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  color: var(--token-16zuNC9DmE3-);
  font-size: var(--token-Gq2ZclrSKBOi);
  font-weight: 700;
}
.freeBox__kCh7H {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.svg__fksLf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gFRfC {
  height: auto;
}
.svg__blxAp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pK7Nc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tqXo8 {
  text-align: center;
}
.svg__qvcUr {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rdrL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fKa8P {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.svg__xNwjM {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__pyLuH {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ieogzVSSyrRx);
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 14px;
  border: 1px solid var(--token-QR8ATjORhQqO);
}
.freeBox__aSdZt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aSdZt {
    justify-content: space-between;
  }
}
.text__i8IcM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  white-space: pre;
}
.freeBox__wbcd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__yhFkP {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
.text__soPj {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  text-decoration-line: line-through;
  font-style: italic;
  font-weight: 300;
  color: var(--token-LqpCVPPZF4_r);
}
.text__wrpq1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  white-space: pre;
}
.text___7M5M6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: var(--token-jIJbQUPw_oHQ);
  color: var(--token-ieogzVSSyrRx);
  font-weight: 700;
  align-self: center;
  border-radius: 8px;
  padding: 4px 8px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__k0SYz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__i2Jnt {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.svg__yl0WF {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.svg__zupG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oPxQg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__uzTpk {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
