.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-SxXGNxcP6O97);
  padding-bottom: 60px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  right: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__hOsfk {
  object-fit: cover;
  max-width: 100%;
  color: #222b45;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.svgdark__hOsfkh5W06 {
  color: #ffffff;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.text__ij52 {
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___8Wu7A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0.5rem var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Wu7A {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: var(--token-6eH8UjLOmr7v);
    padding-left: var(--token-6eH8UjLOmr7v);
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__qiyC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
.stepsLayout:global(.__wab_instance) {
  max-width: 100%;
}
.text__iZa4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iZa4E {
    font-size: 20px;
  }
}
.textdark__iZa4Eh5W06 {
  color: var(--token-ieogzVSSyrRx);
}
.text__dlBnd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dlBnd {
    font-size: 18px;
  }
}
.textdark__dlBndH5W06 {
  color: #f3f4f5;
}
.freeBox___9HqDc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr) var(--token-KVcr9NiMwFLr)
    var(--token-KVcr9NiMwFLr) 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9HqDc {
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBoxdark___9HqDch5W06 {
  background: var(--token-aAR23Q6LT5jS);
}
.img__wiMjf {
  object-fit: cover;
  max-width: 100%;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
}
.img__wiMjf > picture > img {
  object-fit: cover;
}
.freeBox__pre6Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px;
}
.freeBox__n94F0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px 0px 0px var(--token-KVcr9NiMwFLr);
}
.text___8VhG9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  align-self: flex-start;
  font-size: 18px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8VhG9 {
    font-size: 18px;
  }
}
.textdark___8VhG9H5W06 {
  color: var(--token-ieogzVSSyrRx);
}
.svg___20RGw {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: var(--token-3WxvfyIdJppy);
  height: var(--token-3WxvfyIdJppy);
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.svgdark___20RGwH5W06 {
  color: var(--token-LqD8W4lcEdIj);
}
.text__iC6Fy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  align-self: center;
}
.textdark__iC6FyH5W06 {
  color: var(--token-_a8xNcbsYOO0);
}
.text___2JbiP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2JbiP {
    font-size: 18px;
  }
}
.textdark___2JbiPh5W06 {
  color: #f3f4f5;
}
.text__hhiPe {
  width: 90px;
  height: auto;
  text-align: center;
  color: var(--token-0jflij2Drauk);
  font-size: 13px;
  position: relative;
  background: var(--token-MjYUWCcX38Uk);
  border-radius: 8px;
  padding: 0px;
  border: 1px solid var(--token-0jflij2Drauk);
}
.textdark__hhiPeh5W06 {
  background: var(--token-hb610yGAurc2);
  color: var(--token-pyhDq7s0RTkz);
}
.text__qCnJo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qCnJo {
    font-size: 20px;
  }
}
.textdark__qCnJoh5W06 {
  color: var(--token-ieogzVSSyrRx);
  display: block;
}
.text__pujpl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pujpl {
    font-size: 18px;
  }
}
.textdark__pujplH5W06 {
  color: #f3f4f5;
}
.freeBox___3Oazo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  overflow: auto;
  row-gap: 8px;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBox__sfGhk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__uhkbb {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 8rem;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
}
.img__uhkbb > picture > img {
  object-fit: cover;
}
.freeBox__kd64Y {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
}
.freeBox__mAyxi {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: var(--token-2aHIw8xI62Xi);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-QMEhwYzwsf71);
  padding: var(--token-KVcr9NiMwFLr);
}
.svg__uEDhV {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__bH08I {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__bs9F1 {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.img__gvYv5 {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 250px;
}
.img__gvYv5 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gvYv5 {
    width: auto;
    height: 200px;
  }
}
.text__pfDpX {
  position: relative;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  text-align: right;
  max-width: 100%;
  height: auto;
  width: 100%;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pfDpX {
    font-size: 20px;
  }
}
.textdark__pfDpXh5W06 {
  color: var(--token-ieogzVSSyrRx);
}
.text__ntKw9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ntKw9 {
    font-size: 18px;
  }
}
.textdark__ntKw9H5W06 {
  color: #f3f4f5;
}
.freeBox___9U2J0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.freeBox___5MVyi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__q0O7G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px var(--token-omrXvBNBcWTN)
    var(--token-omrXvBNBcWTN);
}
.freeBox__hNejN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 15px;
  height: 15px;
  max-width: 100%;
  align-self: center;
  background: var(--token-3yhCR9eH1wRr);
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid var(--token-QR8ATjORhQqO);
}
.text__xlxc3 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  align-self: center;
  font-size: 18px;
  padding: 0px;
}
.percentageBox:global(.__wab_instance) {
  max-width: 100%;
}
.text__u0K3J {
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u0K3J {
    font-size: 12px;
  }
}
.freeBox___9AqXs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
  border-right: 1px solid var(--token-ehVEIAjb9HeO);
}
.freeBox__gkKnK {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBoxdark__gkKnKh5W06 {
  background: var(--token-aAR23Q6LT5jS);
}
.freeBox__oFhc {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: #ffffff2e;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxdark__oFhcH5W06 {
  background: none;
}
.freeBox__gzSJn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px;
}
.lineClomp4:global(.__wab_instance) {
  max-width: 100%;
}
.text__hkGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hkGp {
    font-size: 18px;
  }
}
.textdark__hkGph5W06 {
  color: #898989;
}
.getUser:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qczAt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.getData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ct0Qe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ct0Qe {
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.svg__qtOFz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vh1Hz {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__jaMok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000a6;
  z-index: 100;
  left: 0px;
  top: 0px;
  position: absolute;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__uAbP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uAbP {
    max-width: 100%;
  }
}
.freeBox__jfDb0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-naOKKZC5rCrA);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img___3NI8J {
  object-fit: cover;
  width: 40%;
}
.img___3NI8J > picture > img {
  object-fit: cover;
}
.text__fJpWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-16zuNC9DmE3-);
  text-align: center;
  font-size: 17px;
  margin-top: 8px;
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2:global(.__wab_instance) {
    width: 200px;
  }
}
.svg__krl8I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nauYc {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  width: 100%;
  min-width: 0;
  padding: 2px 8px;
}
.svg__hutQh {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__yuEvr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
}
.directDialog:global(.__wab_instance) {
  max-width: 100%;
}
