.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  background: none;
  justify-self: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: auto;
    justify-self: flex-start;
    display: inline-flex;
  }
}
.freeBox__wro0 {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-around;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  position: relative;
  left: auto;
  top: auto;
  min-width: auto;
  height: 100%;
  min-height: 0;
  border-radius: 8px;
  padding: 6px 6px 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wro0 {
    min-width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 75px;
  }
}
.freeBoxclick__wro0Jr0Vt {
  border-style: solid;
  border-color: var(--token-QR8ATjORhQqO);
}
.freeBoxdark__wro0RiNjQ {
  background: var(--token-aAR23Q6LT5jS);
}
.freeBox__ri8Wv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 5;
  min-width: 75px;
  max-height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ri8Wv {
    min-width: auto;
    max-width: none;
    width: 100%;
  }
}
.img {
  object-fit: cover;
  width: 16px;
  height: 13px;
  margin-top: 4px;
  margin-left: 4px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__andKa {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--token-ieogzVSSyrRx);
  row-gap: 4px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__andKa {
    width: auto;
    max-width: none;
  }
}
.freeBoxdark__andKaRiNjQ {
  background: var(--token-aAR23Q6LT5jS);
}
.freeBox__pTv54 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  column-gap: 12px;
}
.lock:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lock:global(.__wab_instance) {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .done:global(.__wab_instance) {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__lLzEd {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  text-align: center;
  color: #535353;
  white-space: pre;
  line-height: 1.1;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lLzEd {
    width: 100%;
    font-size: 14px;
    min-width: 0;
  }
}
.textdark__lLzEdRiNjQ {
  color: var(--token-Pxe4wDL2kJpb);
}
.text__f9Nt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
