.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
  border-bottom: 0.1rem solid var(--token-ezMpHdKVwSWQ);
}
.rootselctedOptionLiom {
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.rootselctedOptionPaziresh {
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.rootnoLine {
  border-bottom-width: 0rem;
}
.freeBox__pSGqD {
  display: block;
  width: var(--token-6eH8UjLOmr7v);
  height: var(--token-6eH8UjLOmr7v);
  max-width: 100%;
  transform: skew(0deg, 0deg);
  transition-property: all;
  transition-duration: 1s;
  position: relative;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: var(--token-rjo2t_xMK-6Z);
  padding: 0px;
  border: 1px solid var(--token-zux6fVI6aE30);
}
.freeBoxselctedOptionLiom__pSGqDwTdbr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0px;
  border-color: var(--token-QR8ATjORhQqO);
}
.freeBoxselctedOptionPaziresh__pSGqDbdZrw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 0px;
  border-color: var(--token-nAFD6CLl8U9b);
}
.freeBox__zjiDg {
  position: absolute;
  width: var(--token-KVcr9NiMwFLr);
  height: var(--token-KVcr9NiMwFLr);
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: var(--token-QR8ATjORhQqO);
  transition-property: all;
  transition-duration: 1s;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: var(--token-rjo2t_xMK-6Z);
}
.freeBoxselctedOptionLiom__zjiDgwTdbr {
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.freeBoxselctedOptionPaziresh__zjiDgbdZrw {
  position: relative;
  left: auto;
  top: auto;
  background: var(--token-nAFD6CLl8U9b);
  display: block;
}
.slotTargetChildren {
  font-size: var(--token-podr231_9RBN);
  color: var(--token-aWDgJo5BrkPj);
}
.slotTargetChildren > *,
.slotTargetChildren > :global(.__wab_slot) > *,
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > :global(.__wab_slot) > picture > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.slotTargetChildrenselctedOptionLiom {
  color: var(--token-QR8ATjORhQqO);
}
.slotTargetChildrenselctedOptionPaziresh {
  color: var(--token-nAFD6CLl8U9b);
}
