.root {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 130px;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 4px 10px 0px #0000001a;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: 10px;
  border: 2px solid var(--token-mIaQ7cfg3AGq);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.text___5EZrz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-qzx3-mOfPuXh);
  font-weight: 600;
  color: #00c371;
  text-align: center;
  background: #00c37133;
  border-radius: 50%;
  padding: 2px;
}
.text__dcLG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: var(--token-qzx3-mOfPuXh);
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
}
.text__vTtuk {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  left: 0px;
  top: 94px;
  min-width: 0;
}
