.root {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  justify-self: flex-start;
  background: transparent;
  opacity: 1;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: skew(0deg, 0deg);
  transform-style: preserve-3d;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.root * {
  transform-style: preserve-3d;
}
.rootclick {
  opacity: 1;
  background: #00000033;
  transform: skew(0deg, 0deg);
  height: 100%;
  transform-style: preserve-3d;
  min-height: 0;
}
.rootclick * {
  transform-style: preserve-3d;
}
.freeBox__huGac {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition-property: all;
  transition-duration: 0.6s;
  transform: translate3d(0px, 1000px, 0px);
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.6s;
  padding: 8px;
}
.freeBox__huGac * {
  transform-style: preserve-3d;
}
.freeBoxclick__huGacPyvA5 {
  transform: translate3d(0%, 0px, 0px);
  height: auto;
  bottom: -2px;
  left: -2px;
  z-index: 5;
  border-top-left-radius: var(--token-NA4_kBQtzoXQ);
  border-top-right-radius: var(--token-NA4_kBQtzoXQ);
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
}
.freeBoxclick__huGacPyvA5 * {
  transform-style: preserve-3d;
}
.freeBox__sOwmh {
  display: block;
  position: relative;
  width: 100px;
  height: 10px;
  max-width: 100%;
  background: #0000001a;
  z-index: 8;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBoxclick__sOwmhPyvA5 {
  display: none;
}
.freeBox__vFf5L {
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: translate3d(0px, 1000px, 0px);
  transform-style: preserve-3d;
  display: none;
  padding: 8px;
}
.freeBox__vFf5L * {
  transform-style: preserve-3d;
}
.freeBoxclick__vFf5LPyvA5 {
  transform: none;
  height: 100%;
  background: none;
  right: 0;
  bottom: 0;
  left: -1px;
  top: 0;
  width: 100%;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
  display: flex;
}
.freeBoxclick__vFf5LPyvA5 * {
  transform-style: preserve-3d;
}
