.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  right: auto;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    top: 0;
    left: 0;
    right: 0;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  padding-left: var(--token-KDnC5QlJdkgq);
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  bottom: auto;
  height: auto;
  right: 0;
  padding-top: var(--token-KDnC5QlJdkgq);
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.rate2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ieogzVSSyrRx);
  cursor: pointer;
  column-gap: 5px;
  border-radius: 50px;
  padding: 4px 8px;
  border: 1px solid #7444bc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rate2 {
    padding-bottom: 2px;
    padding-top: 2px;
    column-gap: 3px;
    row-gap: 0px;
  }
}
.text__ynSah {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: var(--token-podr231_9RBN);
  user-select: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ynSah {
    font-size: var(--token-KUiXUfHPkqkm);
  }
}
.freeBox__eRnR5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.text__wLtUk {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  font-weight: 700;
  user-select: none;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wLtUk {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox__exwal {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 3px;
  min-width: 0;
  padding: 0px;
}
.embedHtml__bQo8Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 66px;
  height: auto;
  flex-shrink: 0;
}
.rateinfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 30vh;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: 0px;
}
.freeBox__oEjRq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.text__yeJrj {
  text-align: justify;
  font-size: var(--token-podr231_9RBN);
}
.freeBox__g7J5Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.buttonLiom4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__su4SQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yizRp {
  color: var(--token-eAGGWpRlc3eE);
  font-size: var(--token-podr231_9RBN);
}
.svg__bExiv {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3IxtJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yrCz {
  color: var(--token-eAGGWpRlc3eE);
  font-size: var(--token-podr231_9RBN);
}
.svg__lzgcX {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.text__wzjYz {
  text-align: right;
  font-size: var(--token-7E1YyiP6sAP9);
}
.comments:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___4ZPf0 {
  font-size: var(--token-Gq2ZclrSKBOi);
  width: 100%;
  text-align: right;
  min-width: 0;
}
.comment:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__n1C9J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.freeBox___5VC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__ii8ZI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox__j353 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox__qsZaN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  padding: 0px;
}
.freeBox__f6P5I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ndpmA {
  width: auto;
  height: 50px;
  max-width: 100%;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
}
.text__ol3Mw {
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 700;
  align-self: center;
  white-space: pre;
  min-height: 0;
}
.embedHtml__dvbIk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 75px;
  height: auto;
}
.text__kU1Ub {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-h-BgcI1FtWRI);
  font-weight: 400;
}
.text__nC9Ms {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 13px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nC9Ms {
    text-align: justify;
  }
}
.freeBox__ovatl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ovatl {
    border-bottom-color: #f5f5f5;
  }
}
.freeBox__pwyf0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__oDRre {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background: var(--token-RweFaeFLMIES);
  left: auto;
  top: auto;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
}
.text___7Onr8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: var(--token-Gq2ZclrSKBOi);
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Onr8 {
    color: #ffffff;
  }
}
.freeBox__jtHkJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__cUTaU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eCmAp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
}
.text__xlcFv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
}
.freeBox__sKm7W {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.stars:global(.__wab_instance) {
  max-width: 100%;
  width: 14px;
  height: auto;
  flex-shrink: 0;
}
.text__r5PZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
