.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px 8px 16px;
}
.freeBox__ier42 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__b0Z9H {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1408px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #12121233;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdarkMod__b0Z9HfshNo {
  background: var(--token-aAR23Q6LT5jS);
}
.text___1UEh3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 13px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod___1UEh3FshNo {
  color: var(--token-jgohepLVeKvh);
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  width: 100px;
  align-self: center;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.checkbox2global_theme_dark:global(.__wab_instance) {
  display: flex;
}
.freeBox__e6Nkb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text__pv2N4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #898989;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__lU8J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #898989;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
