.root {
  display: flex;
  flex-direction: column;
  width: 95px;
  height: 95px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  position: relative;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
  border-width: 1px;
}
.rootclick {
  border-style: solid;
  border-color: var(--token-QR8ATjORhQqO);
}
.freeBox__ub47T {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.lock__hMnfl:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  align-self: center;
  flex-shrink: 0;
}
.text__siscv {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  text-align: center;
}
.text__tjDaZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
