.root {
  display: flex;
  width: 95px;
  height: 95px;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
  padding: 0px;
}
.freeBox__wro0 {
  display: flex;
  flex-direction: column;
  width: 95px;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  position: relative;
  left: auto;
  top: auto;
  min-height: 0;
  border-radius: 8px;
  padding: 2px;
  border-width: 1px;
}
.freeBoxclick__wro0Jr0Vt {
  border-style: solid;
  border-color: var(--token-QR8ATjORhQqO);
}
.freeBox__ri8Wv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 5;
  min-width: 0;
}
.img {
  object-fit: cover;
  width: 16px;
  height: 13px;
  margin-top: 4px;
  margin-left: 4px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__andKa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: column;
  background: var(--token-ieogzVSSyrRx);
  min-width: 0;
  padding: 0px;
}
.freeBox__andKa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__andKa > :global(.__wab_flex-container) > *,
.freeBox__andKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__andKa > :global(.__wab_flex-container) > picture > img,
.freeBox__andKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__pTv54 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__pTv54 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__pTv54 > :global(.__wab_flex-container) > *,
.freeBox__pTv54 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pTv54 > :global(.__wab_flex-container) > picture > img,
.freeBox__pTv54
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.lock:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  align-self: center;
  flex-shrink: 0;
}
.text__lLzEd {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lLzEd {
    font-size: var(--token-Pqe-w0mkNkCF);
  }
}
.text__f9Nt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
