.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-SH2GlK2U7a6u);
  position: relative;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: var(--token-oBl_q7A3cnkA);
}
.rootpms {
  background: var(--token-QR8ATjORhQqO);
  justify-content: center;
  align-items: center;
}
.rootfertility {
  background: var(--token-47ovROB-Xr2C);
  justify-content: center;
  align-items: center;
}
.rootperiod {
  background: var(--token-mIaQ7cfg3AGq);
  justify-content: center;
  align-items: center;
}
.rootnormalpms {
  background: var(--token-SH2GlK2U7a6u);
}
.freeBox__iDEuB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__iDEuB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__iDEuB > :global(.__wab_flex-container) > *,
.freeBox__iDEuB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iDEuB > :global(.__wab_flex-container) > picture > img,
.freeBox__iDEuB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBoxpms__iDEuB90Evg > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
}
.freeBoxfertility__iDEuB0Xm40 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
}
.freeBoxperiod__iDEuByCb5W > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
}
.slotTargetChildrenperiod {
  text-align: center;
}
.freeBox__cfYm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cfYm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cfYm > :global(.__wab_flex-container) > *,
.freeBox__cfYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cfYm > :global(.__wab_flex-container) > picture > img,
.freeBox__cfYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___0TcI5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-align: justify;
  align-self: center;
  font-size: var(--token-BlA-iDkaAWvO);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___3Dy9T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  opacity: 1;
  padding: 8px;
  margin: 20px;
}
.freeBoxpms___3Dy9T90Evg {
  width: 100%;
  min-width: 0;
}
.freeBoxfertility___3Dy9T0Xm40 {
  width: 100%;
  min-width: 0;
}
.freeBoxperiod___3Dy9TyCb5W {
  width: 100%;
  min-width: 0;
}
.freeBoxnormalpms___3Dy9TMOdaR {
  width: 100%;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  object-position: center center;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
  object-position: center center;
}
.imgpms {
  display: none;
}
.imgfertility {
  display: none;
}
.imgperiod {
  display: none;
}
.imgnormalpms {
  display: none;
}
.freeBox___1Z0Mg {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxpms___1Z0Mg90Evg {
  align-self: flex-end;
  background: #ffffff26;
  box-shadow: none;
  width: 100%;
  height: 180px;
  min-width: 0;
  display: flex;
  border-radius: 12px;
  border: 5px solid #0000000d;
}
.freeBoxfertility___1Z0Mg0Xm40 {
  width: 100%;
  height: 180px;
  max-width: 100%;
  background: #ffffff26;
  box-shadow: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: flex;
  border-radius: 12px;
  padding: 8px;
  border: 5px solid #0000000d;
}
.freeBoxperiod___1Z0MgyCb5W {
  width: 100%;
  height: 180px;
  max-width: 100%;
  background: #ffffff26;
  box-shadow: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: flex;
  border-radius: 12px;
  padding: 8px;
  border: 5px solid #0000000d;
}
.freeBoxnormalpms___1Z0MgMOdaR {
  width: 100%;
  height: 180px;
  max-width: 100%;
  background: #ffffff26;
  box-shadow: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 12px;
  padding: 8px;
  border: 5px solid #0000000d;
}
.text__svZqk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textpms__svZqk90Evg {
  font-size: 22px;
  color: #ffffff;
}
.textfertility__svZqk0Xm40 {
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
}
.textperiod__svZqkyCb5W {
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
}
.textnormalpms__svZqkMOdaR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  min-width: 0;
  display: none;
}
.text__nulFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  min-width: 0;
}
.textpms__nulFt90Evg {
  font-size: 26px;
}
.textfertility__nulFt0Xm40 {
  font-size: 26px;
  color: var(--token-jgohepLVeKvh);
}
.textperiod__nulFtyCb5W {
  font-size: 26px;
  color: var(--token-jgohepLVeKvh);
}
.textnormalpms__nulFtMOdaR {
  display: none;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.lottiepms:global(.__wab_instance) {
  display: none;
}
.lottiefertility:global(.__wab_instance) {
  display: none;
}
.lottieperiod:global(.__wab_instance) {
  display: none;
}
.text__oXqUs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textpms__oXqUs90Evg {
  display: none;
}
.textfertility__oXqUs0Xm40 {
  display: none;
}
.textperiod__oXqUsyCb5W {
  display: none;
}
.textnormalpms__oXqUsMOdaR {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.text__mw7SV {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #ffffffb3;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  left: 0px;
  top: 0px;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 0px;
}
.textpms__mw7SV90Evg {
  top: auto;
  font-size: 16px;
  text-decoration-line: underline;
  color: #ffffffcc;
  cursor: pointer;
  position: relative;
  left: auto;
  display: block;
}
.textfertility__mw7SV0Xm40 {
  top: auto;
  font-size: 16px;
  color: #ffffffcc;
  text-decoration-line: underline;
  cursor: pointer;
  position: relative;
  left: auto;
  display: block;
}
