.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-zux6fVI6aE30);
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qxyrX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qxyrX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__qxyrX > :global(.__wab_flex-container) > *,
.freeBox__qxyrX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxyrX > :global(.__wab_flex-container) > picture > img,
.freeBox__qxyrX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__kLq9R {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox___3OyVn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox___3OyVn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___3OyVn > :global(.__wab_flex-container) > *,
.freeBox___3OyVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3OyVn > :global(.__wab_flex-container) > picture > img,
.freeBox___3OyVn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.radioGrop:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__e1GdG {
  font-size: 14px;
  font-weight: 500;
  color: var(--token-NkR_O_GW0jPH);
}
.antdInputTextArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-naOKKZC5rCrA);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__yjQlU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eRbv9 {
  font-weight: 700;
}
.svg__nljzh {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
