.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  transition-property: all;
  transition-duration: 1s;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
.rootfouse {
  background: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-KDnC5QlJdkgq);
  height: var(--token-KDnC5QlJdkgq);
  align-self: center;
  color: var(--token-jgohepLVeKvh);
  opacity: 0.6;
  flex-shrink: 0;
}
.svgfouse {
  opacity: 1;
  transform: scale3d(1.1, 1.1, 1);
  color: #ffffff;
}
.svgcolor_green {
  color: var(--token-SH2GlK2U7a6u);
  opacity: 1;
}
.svgcolor_grey {
  color: var(--token-NXlEQg0VOw-c);
}
.svgcolor_trasparent {
  display: none;
}
.svgcolor_green_selected {
  opacity: 1;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  opacity: 0.6;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
.freeBoxfouse {
  opacity: 1;
}
.slotTargetChildren {
  font-size: var(--token-podr231_9RBN);
  color: var(--token-jgohepLVeKvh);
  text-align: right;
}
.slotTargetChildrenfouse {
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
