.root {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  color: var(--token-QR8ATjORhQqO);
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.rootclick {
  color: #7444bc;
}
.root:hover {
  transform: scale3d(1.2, 1.2, 1);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
